*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FBEEEC;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #777777;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5rem 0;
  color: #777777;

}

.nav__logo {
  width: 100px;
  height: 100px;
  color: #777777;
  margin-left: 10vw;
}

.nav__cart {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}


.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}


/* .card__container {
  margin: 2rem auto;
} */

.card__title {
  font-size: 3rem;
  text-align: center;
  color: rosybrown;
}

.card__text {
  color: gray;
}

/* .card__buttonStack {
  margin: 0 auto;

} */

/* npm  */

.card {
  display: flex;
}

.numeroContador {
  color: black;
}